@import url("grid.css");
@import url("../../../contraste.css");
/********** Basic styles **********/
body {
  background: #f1f1f1;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
}
a:link,
a:visited,
#content a:link,
#content a:visited {
  color: #10233b;
}
.state-published {
  color: #10233b !important;
}
a:hover {
  color: #3259a7;
}
#content a:hover,
dl.portlet a:hover {
  color: #3259a7 !important;
  /* Unfortunatelly is necessary with sunburst */

}
.clear {
  clear: both;
}
/********** Main container **********/
#wrapper {
  padding: 0;
}
#main {
  margin: 0 auto;
  max-width: 96%;
}
.layout-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
/********** Header **********/
header {
  background-color: #4882c9;
  color: #ffffff;
  float: left;
  width: 100%;
}
header a:link,
header a:visited {
  color: #ffffff;
}
header a:hover {
  color: #e6e6e6;
}
/* Logo */
#portal-logo {
  display: block;
  float: left;
  margin: 1.5em;
}

#portal-personaltools {
  background: #3259a7;
}

#portal-personaltools dd a:hover {
    background: #4882c9;
}

#portal-siteactions {
  text-align: right;
  margin-right: 1em;
  font-size: 80%;
}
#portal-siteactions a:before {
  font-family: FontAwesome;
  font-size: 1em;
  margin-right: 0.3em;
}
#siteaction-contact a:before {
  content: "\f0e0";
}
#siteaction-sitemap a:before {
  content: "\f0e8";
}
#siteaction-accessibility a:before {
  content: "\f118";
}
#siteaction-search a:before {
  content: "\f002";
}
#siteaction-login a:before {
  content: "\f090";
}
#siteaction-contraste a:before {
  content: "\f042";
}
#siteaction-vlibras a:before {
  content: "\f087";
}
#portal-siteactions li#siteaction-accessibility {
  width: 17px;
}
#portal-siteactions li a:hover {
  color: #e6e6e6;
}
/* search */

.searchButton {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: none;
  padding: 0.4em 0.7em;
  background: #3259a7;
  color: #ffffff;
  cursor: pointer;
}

#portal-searchbox {
  margin: 1.5em;
  position: relative;
}

#portal-searchbox input {
  border-radius: 0;
}

#portal-searchbox input.searchField {
  min-width: 20em;
  width: 100%;
  height: 30px;
  border: none;
  text-indent: 1em;
  line-height: 30px;
  padding-right: 40px;
  box-sizing: border-box;
}

#portal-searchbox .searchButton {
  font-family: FontAwesome;
  position: absolute;
  right: 0;
  border-radius: 0;
  color: #ffffff;
  height: 30px;
  width: 30px;
}

/* Navigation */
#main-navigation {
  margin: 0;
  clear: both;
  background: #3259a7;
  color: #ffffff;
}
#main-navigation ul {
  padding: 0.3em;
  text-align: right;
}
#main-navigation li {
  display: inline-block;
}

#main-navigation li::after {
  content: '';
  position: absolute;
  margin: auto;
  right: -2px;
  top: 0;
  bottom: 0;
  background-color: #ffffff;
  border-radius: 50%;
  width: 4px;
  height: 4px;
}

#main-navigation li:last-child::after {
  display: none;
}

#main-navigation li a:link {
  font-size: 80%;
  text-decoration: none;
  display: block;
  padding: 0 1em;
}

#main-navigation li a:link,
#main-navigation li a:visited {
  color: #ffffff;
}

/* Mobile Menu button colors */

.menu-button{
  background: #4882c9;
}

.menu-button button{
  border-color: white;
  background: none;
  color: white;
}

.menu-button > button:hover {
  background: #3259a7 !important;
}

.menu-button > button.menuAtivo {
  background: #3259a7; 
}

/********** Content **********/
/* breadcrumb */
#portal-breadcrumbs {
  margin: 1.2em 2%;
  font-size: 80%;
  clear: both;
  display: inline-block;
}
.section-front-page #portal-breadcrumbs {
  visibility: hidden;
}
/* text styles */
p {
  line-height: 1.4em;
}
h1 {
  color: #3259a7;
  border: none;
  margin-bottom: 0;
  font-size: 2.5em;
}
h2 {
  color: #3259a7;
}
#content {
  margin: 0;
}
#content .documentDescription,
#content #description {
  color: #4d4d4d;
  font-weight: normal;
  margin-bottom: 1em;
}
/********** Tiles **********/
.tile-header h2, .tile-content h2, .documentFirstHeading {
    margin-bottom: 0.5em;
}

.tile-noticias .collection-item {
    float: left;
    width: 48%;
    margin-right: 4%;
    margin-bottom: 1.5em;
    padding-bottom: 0.4em;
    border-bottom: 1px dotted #ccc;
}

.tile-noticias .collection-item:nth-child(odd) {
    margin-right: 0;
}

.tile-noticias .collection-item a img {
    margin: 0;
    float: none;
    width: 100%;
    height: auto;
}

.tile-noticias .collection-item > a {
    width: 100%;
    display: block;
    margin-bottom: 0.5em;
}

#content .tile-noticias .collection-item p {
    margin-bottom: 0.25em;
}

.tile-noticias .collection-item p.description {
    font-size: 1.1em;
}

#content .tile-noticias .tile-footer a {
  float: right;
  padding: 1.075em 1.2em;
  background-color: #3259a7;
  color: #ffffff !important;
  font-weight: bold;
  text-transform: uppercase;
  transition: all ease-out 0.1s;
}

#content .tile-noticias .tile-footer a:hover {
  background: #4882c9;
  color: #fff !important;
}

/*********** Portlets ***********/
/* general styles */
.portletHeader,
dl.portlet dt.portletHeader {
  font-weight: bold;
  background-color: #3259a7;
  color: #fff;
}
.portletHeader a,
dl.portlet dt.portletHeader a {
  color: #fff;
  transition: all ease-out 0.1s;
}
.portlet {
  margin-bottom: 2em;
}
/* lists inside columns */
aside dl,
aside dd,
aside ul {
  padding: 0;
  margin: 0;
}
aside a {
  text-decoration: none;
}
/* portlet navigation */
.portletNavigationTree ul {
  margin: 0;
}
.portletNavigationTree li {
  list-style-position: inside;
}
.portlet.portletNavigationTree .navTree .navTreeItem {
  margin: 0;
}
.portlet.portletNavigationTree .navTreeLevel0 > .navTreeItem {
  padding: 0;
}
.portlet.portletNavigationTree .navTree > .navTreeItem {
  border-bottom: rgba(26, 58, 100, 0.05) 1px solid;
  list-style: none;
}
.portlet.portletNavigationTree .navTreeLevel1 .navTreeItem {
  padding-left: 1em;
}
.portlet.portletNavigationTree .navTreeLevel1 .navTreeItem:last-of-type {
  border-bottom: none;
}
.portlet.portletNavigationTree .navTree .navTreeItem a {
  display: block;
  padding: 0.8em 1em;
  border-left: 0px solid transparent;
  transition: all ease-out 0.1s;
  line-height: initial;
}
.portlet.portletNavigationTree .navTree .navTreeItem a:hover {
  border-left: 5px solid #4882c9;
  background-color: rgba(26, 58, 100, 0.05);
}
.portlet.portletNavigationTree .navTree .navTreeItem a.navTreeCurrentItem {
  border-left: 5px solid #4882c9;
  background-color: rgba(26, 58, 100, 0.2);
}
dl.portlet ul.navTree .navTreeCurrentItem {
  border-left: none;
  margin: 0;
}
.navTreeLevel2 a {
  padding-left: 1em;
}
.navTreeLevel3 a {
  padding-left: 2em;
}
.navTreeLevel4 a {
  padding-left: 3em;
}
.navTreeLevel5 a {
  padding-left: 4em;
}
.navTreeLevel6 a {
  padding-left: 5em;
}
.portlet .portletHeader > a, .portlet .portletHeader > span:nth-child(2) {
  display: block;
  color: #FFF;
  padding: 0.7em 1em;
  font-size: 1em;
}
.portlet .portletHeader > a:hover {
  background: #4882c9;
  color: #fff !important;
}
.portlet .portletHeader {
  padding: 0;
}
/********** Footer **********/
footer {
  border-top: #d8d8d8 1px solid;
  margin-top: 2em;
  font-size: 80%;
  background: #4882c9;
  color: #ffffff;
}
footer a {
  color: #ffffff !important;
}
footer p {
  margin-bottom: 2em;
}

.footer-item {
  padding: 0 2%;
}

#footer-info {
  padding-top: 3em; 
}

#footer-colophon {
  padding: 1.5rem 0;
  font-size: 0;
  text-align: center;
  background-color: #3259a7;
}

.colophon-item {
  display: inline-block;
  max-width: 46%;
  padding: 0 2%;
  vertical-align: top;
  position: relative;
}

.colophon-item:first-child::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #fff;
  right: 0;
  top: 0;
}

.colophon-item a {
  font-weight: 700;
}

.colophon-item img {
  height: 32px;
}

.colophon-info {
    font-size: 11px;
    margin-top: 1em;
}

.colophon-logo {
  height: 40px
}
/********* RESPONSIVE **********/
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

  header {
    margin-bottom: 1em;
  }

  /* Mobile Menu theme color adjustments */
  #column-one {
    border-color: #4882c9;
  }

  dl.portlet ul.navTree .navTreeCurrentItem {
    border-color: #3259a7
  }

  dl.portlet ul.navTree li a:hover {
    border-color: #4882c9;
  }
  
}

/* Landscape phones and down */
@media (max-width: 767px) {
    #portal-logo {
      display: inline-block;
      font-size: 90%;
    }

    #portal-logo.has-title img {
      display: none;
    }
    
    
    #main-navigation ul {
      box-sizing: border-box;
      padding: 0;
      padding-right: 0.5em;
      text-align: center;
      float: none;
      width: 100%;      
      overflow-y: hidden; 
      -webkit-overflow-scrolling: touch;
    }
    #main-navigation ul::after {
      content: '';
      background-image: linear-gradient(to right, transparent, rgba(50,89,167,0.9) 80%);
      height: 43px;
      position: absolute;
      pointer-events: none;
      right: 0;
      top: 0;
      width: 2.2em;
      z-index: 10;
    }

    #main-navigation li {
      float: none;
      display: block;
      text-align: left;
      margin: 0;
      border-bottom: 1px solid rgba(255,255,255,0.1);
    }

    #main-navigation li a:link {
      padding: 1.2em 1.5em;
      line-height: 1;
    }

    #portal-searchbox {
      margin-top: 0;
      float: none;
      text-align: center;
      clear: both;
      font-size: 80%;
    }

    .colophon-item {
      max-width: 96%;
      margin: 1.5rem 2%;
    }
    
    /* 1. Esconde o menu inicialmente para o slideToggle funcionar */
    #main-navigation {
        display: none; 
        clear: both;
        width: 100%;
        background: #3259a7; /* Cor sólida de fundo */
    }

}

/* Phones and down */
@media (max-width: 480px) {
  .tile-noticias .collection-item {
    width: 100%;
    margin-right: 0;
  }       
}

/*CSS das integrações do SAPL*/
.secao-pauta {
    margin-top: 30px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid #ccc;
    color: #333;
}
.container-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-materia {
    border-left: 4px solid #005b9f;
    border-radius: 4px;
    padding: 15px;
    background-color: #fcfcfc;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.card-expediente {
    border-left-color: #f57c00;
}
.card-materia h3 {
    margin-top: 0;
    color: #222;
    font-size: 1.1em;
    margin-bottom: 8px;
}
.card-materia p {
    margin: 0 0 8px 0; /* Adicionado um respiro entre os parágrafos */
    line-height: 1.5;
    color: #444;
}
.resultado-votacao {
    display: inline-block;
    margin-top: 5px;
    padding: 4px 8px;
    background-color: #e0f7fa;
    color: #006064;
    border-radius: 4px;
    font-size: 0.9em;
    font-weight: bold;
}

#lista-sessoes {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Centraliza os cards horizontalmente */
    width: 100%;
    max-width: 800px;    /* Mesma largura do seu formulário */
    margin: 0 auto;
}
            
.caixa-sessao {
    
    width: 100%;
    border: 1px solid #ddd;
    border-left: 5px solid #0056b3; /* Faixa azul na esquerda */
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 15px;
    margin: 20px 0;
    border-radius: 4px;
    font-family: Arial, sans-serif;
}

.caixa-sessao:hover{
    transform: scale(1.0);
}

.caixa-sessao h3 {
    margin-top: 0;
    color: #333;
}

.btn-ata {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #38b6ff; /* Vermelho PDF */
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}
.btn-ata:hover {
    background-color:#61baed;
    color: white;
}

.area-pesquisa {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
}

.pesquisa-atas {
  display: flex;
  align-items: center;
  gap: 10px;
}

.caixa-selecao {

  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
  color: #333;
  min-width: 150px;
  cursor: pointer;
}

.caixa-selecao:focus {
  border-color: #38b6ff;
  outline: none;
}

.caixa-selecao:hover {
    background-color: ##018ee9;
}

.botao-pesquisar {
  background-color: #38b6ff;
  display: inline-block;
  color: white; /* texto em branco */
  padding: 9px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;

}

.botao-pesquisar:hover {
  background-color: #008ee0;
}

.galleria-info-description {
    display: none !important;
}

/*Apaga aquele escrito de página inicial feito por Interlegis logo no início da página */

body.section-front-page .documentByLine {
    display: none !important;
}

body.section-front-page .documentFirstHeading {
    display: none !important;
}

body.section-front-page .documentDescription {
    display: none !important;
}

/*Banners responsivos*/

@media (max-width: 768px) {
    .cover-banner-tile.tile-content {
        display: inline-block !important; /* Permite que fiquem na mesma linha */
        vertical-align: top;
        visibility: visible !important;
        width: 50%; /* Metade da tela */
        margin: 0; /* Remove o auto para não forçar a quebra de linha */
        float: left; /* Garante o encaixe lateral */
    }
}
/*
@media (max-width: 768px) {
    .cover-banner-tile.tile-content {
        display: block !important;
        visibility: visible !important;
        width: 50%;
        height: auto;
        margin: 0 auto;
    }
}
*/

/*
.documentFirstHeading, .documentSecondHeading {
    display: grid;
    align-items: start;
    margin: 0 auto;
    max-width: 800px;
    padding: 10px;
}
.descricao {
    display: grid;
    align-items: start;
    margin: 20px auto;
    max-width: 800px;
}*/


/* Container principal da pesquisa */
.pesquisa-materias {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas */
    gap: 20px;
    align-items: start; /* Alterado de 'center' para 'start' para alinhar os topos */
    max-width: 800px;
    margin: 0 auto;
}

/* NOVO: A caixinha que agrupa a label e o input */
.grupo-campo {
    display: flex;
    flex-direction: column; /* Coloca a label em cima e o campo embaixo */
    gap: 5px; /* Dá um espacinho de respiro entre a label e o campo */
}

.grupo-campo label {
    font-weight: bold; /* Deixa as labels em negrito (opcional, mas fica bom) */
    color: #333;
}

/* Campos de pesquisa e dropdowns */
.selecao-tipo, .selecao-ano, .selecao-numero, .selecao-autor, .pesquisar-expressoes {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    min-width: 150px;
}

.selecao-tipo, .selecao-ano, .selecao-autor {
    cursor: pointer;
}

.pesquisar-expressoes, .selecao-numero {
    cursor: text;
}

.acoes-pesquisa {
    grid-column:  1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/* Botão de limpar os campos */
.botao-limpar {

    padding: 10px 15px;
    background-color: #e0e0e0;
    color: black;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background 0.3s;
}

.botao-limpar:hover {
    background-color: #ccc;
}

#controles-paginacao {
    display: flex;
    justify-content: center; /* Centraliza os botões e o texto da página */
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    margin: 30px auto;       /* Centraliza e dá espaço do conteúdo acima */
}

.btn-baixar {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #2795F5; 
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btn-baixar:hover {
    background-color: #074F8F;
    color: white;
}

.cover-banner-tile {
    transition: transform 0.3s ease-out;
}

.cover-banner-tile:hover {
    transform: scale(1.2);
       
}

/*Menus dropdown*/

#main-navigation {
    background: #0b3d6d; /* azul institucional refinado */
    padding: 20px; /* aumenta a largura do menu*/
}   
  
#main-navigation > ul > li > a {
    color: #ffffff !important;
    font-weight: 600;
    padding: 16px 22px;
    transition: all 0.2s ease;
}

#main-navigation > ul > li > a:hover {
    background-color: gray;
}

#main-navigation > ul > li {
    margin-right: 6px;
}

#main-navigation ul ul {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

#main-navigation ul ul li a {
    display: block;
    padding: 12px 15px;
    font-size: 16px;
    color: #333 !important;
    font-weight: 500;

}

#main-navigation ul ul li a:hover {
    color: #0b3d6d !important;
    background-color: #f0f0f0;
}

#main-navigation ul ul {
    min-width: 200px;           /* largura maior */
    padding: 20px;
}

#main-navigation ul ul li {
    margin-bottom: 4px;
    list-style: none;
    border-bottom: 1px solid #e5e5e5;
    transition: 0.2s ease;
}

/*#main-navigation ul ul li:hover {
    background-color: navy;
    color: black;
}*/

#main-navigation ul ul li:last-child {
    border-bottom: none;
}

#main-navigation li:hover > ul {
    display: block;
    column-count: 2;
    gap: 8px 20px;                   /* espaçamento vertical e horizontal */
}
